/*-- style.css --*/

*{
    font-family: 'Segoe UI', sans-serif;
    font-size: 105%;
    
}
html {
    position: relative;
    height: 100%;
    color: black;
}
    .body_darkmode {
        background-color: rgb(46, 46, 53) !important;
        color: whitesmoke !important;
    }
    body {
        margin: 0;
        height: 100%;
        display: grid;
        grid-template-rows: auto min-content;
    }
    
        #navbar { /* navbar */
            display: flex;
            position: fixed;
            background-color: rgb(41, 41, 47);
            width: 100%;
            height: 3rem;
            user-select: none;
            border-bottom: 2px rgb(37, 37, 43) solid;
        }

            #logo {
                padding-left: 0.2rem;
                padding-right: 0.2rem;
                height: 3rem;
            }

                .topic_button {    /* "Mathe" und "Physik" buttons */
                    padding-left: 1rem;
                    padding-right: 0.5rem;
                    background-color: transparent;
                    color: whitesmoke;
                    border: 0;
                    height: 100%;
                    cursor: pointer;
                    user-select: none;
                }

                    .dropdown { /* "Mathe" und "Physik" dropdown-menu */
                        display: none;
                        background-color: rgb(37, 37, 43);
                        border-bottom: 1px black solid;
                        color: whitesmoke;
                        position: absolute;
                        left: 0;
                        top: 0;
                        margin-top: 3rem;
                        width: 100%;
                        text-align: center;
                    }
                    .close_dropdown {
                        position: absolute; 
                        height: 100vh; 
                        width: 100vw; 
                        left: 0;
                    }
                    .dropdown ul {  /* "Mathe" und "Physik" dropdown-menu topics */
                        padding-left: 0;
                        margin-left: 0;
                        margin-top: 0;
                        padding-top: 1rem;
                        /*text-decoration: underline;  On hover */
                    }
                    .dropdown ul li {   /* "Mathe" und "Physik" dropdown-menu sub-topics */
                        list-style: none;
                        color: #487DE0;
                    }
                    .dropdown ul li a{   /* "Mathe" und "Physik" dropdown-menu sub-topics */
                        list-style: none;
                        color: #487DE0;
                        text-decoration: none;
                        cursor: pointer;
                    }
                    .dropdown ul li a:hover{
                        font-weight: bold;
                    }

                /* fold down dropdown-menu and change background */
                .topic:hover {background-color: rgb(37, 37, 43);}
            
        #dark_mode_button {
            margin: auto;
            margin-right: 0;
            padding-right: 1rem;
            height: 100%;
        }

    #content_container {
        margin-top: 2rem;
        margin-bottom: 7rem;
    }
    #content {
        margin: auto;
        padding: 2rem;
        max-width: 60rem;
        height: 100%;
    }
        .topic_list_button{
            border-radius: 1rem;
            width: 100%;
            border: none;
            font-weight: bold;
            text-align: center; 
            background-color:rgb(37, 37, 43); 
            color: whitesmoke; 
            padding: 1rem; 
            margin: 0; 
            border-bottom: 1px black solid;
            cursor: pointer;
            user-select: none;
            padding-left: 2rem;
            margin-top: 0.1rem;
        }
        .topic_list {
            display: none;
            position: relative; 
            padding-bottom: 1rem; 
            padding-top: 0px; 
            margin: 0;
            margin-bottom: 0.1rem;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }

        h1 {
            margin-bottom: 0; 
            text-align: center; 
            color:whitesmoke; 
            font-size: 150%; 
            background: linear-gradient(135deg, #487DE0, #48e064);
            line-height: 3rem;
            border-radius: 0.5rem;
        }
        h2 {
            margin: auto; 
            margin-top: 0; 
            text-align: center;
        }
        h3 {
            font-weight: bold;
            font-size: 130%;
            margin-bottom: 0rem;
            text-align: center;
        }
        h4 {
            font-weight: bold;
            font-size: 120%;
            margin-bottom: 0rem;
            font-style: italic;
            border-left: 0.5rem #487DE0 groove;
            padding-left: 0.5rem;
        }
        .background_darkmode {
            background-color: rgb(41, 41, 47) !important;
        }
        .shadow_darkmode {
            box-shadow: 0 0 1rem 0.5rem rgb(31, 31, 36) !important;
        }
        p {
            padding: 0.5rem;
            box-shadow: 0 0 1rem -0.1rem grey;
            border-radius: 0.5rem;
            background-color: white;
        }

        #content ul li a {
            color: inherit;
            text-decoration: none;
            cursor: pointer;
            font-weight: bold;
        }
        #content ul li a:hover {
            color: #487DE0;
        }

    #footer {
        background-color: rgb(41, 41, 47);
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: block;
        text-align: center;
        
        bottom: 0;
        width: 100%;
    }
    #footer a {
        color: whitesmoke;
    }
    #footer a:hover {
        color:lightgrey;
    }

        #footer div {
            padding-top: 1rem;
            font-size: 60%;
            color: rgb(74, 74, 74);
            text-align: center;
        }



    /* Slideviewer styles */
    .element_slideviewer {
        position: relative;
        border-radius: 0.5rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        margin-top: 2rem;
        margin-bottom: 4rem;
        box-shadow: 0 0 1rem -0.1rem grey;
    }
    
    .element_slideviewer_slide {
        display: none;
    }
    .element_slideviewer_dots { 
        font-size: 230%;
        position: absolute;
        width: 100%;
        text-align: center;
        line-height: 75%;
        color: grey;
    }
    .element_slideviewer_dots a:hover{
        cursor: pointer;
        color: #487DE0;
    }
    .element_slideviewer_dots_active { 
        color: #487DE0;
    }
    .element_slideviewer_arrowbutton_left {
        position: absolute;
        left: -1.7rem;
        background-color: transparent; 
        color: inherit; 
        border: none; 
        font-size: 200%; 
        cursor: pointer;
        top: calc(50% - 2rem);
    }
    .element_slideviewer_arrowbutton_right {
        position: absolute;
        right: -1.7rem;
        background-color: transparent; 
        color: inherit; 
        border: none; 
        font-size: 200%; 
        cursor: pointer;
        top: calc(50% - 2rem);
    }
    .element_slideviewer_arrowbutton_left:hover, .element_slideviewer_arrowbutton_right:hover {
        color: #487DE0;
    }

    
/*
@media screen and (max-width: 719px) {
}
@media screen and (min-width: 720px) {
}*/