/*-- style.css --*/

*{
    font-family: 'Segoe UI', sans-serif;
    font-size: 105%;
    
}

    body {
        margin: 0;
        display: grid;
        grid-auto-rows: fit-content;
        background-color: #487DE0;
    }

        nav {
            align-items: center;
            background-color: rgb(41, 41, 47);
            border-bottom: 1px black solid;
            width: 100%;
            position: fixed;
        }

            #nav_bar_elements{
                display: flex;
            }
            #nav_bar_elements button {
                border: 0;
                font-size: 80%;
                background-color: transparent;
                color: white;
            }
            #nav_bar_elements button:hover {
                background-color: rgb(21, 21, 21);
            }
                .nav_bar_element {
                    border-right: 1px rgb(0, 0, 0) solid;
                }

                #logo {
                    height: 2rem;
                }

            #sub_nav_bars nav{
                border: 1px black solid;
                font-size: 80%;
                color: white;
            }
            #sub_nav_bars nav ul{
                margin: 0;
                padding: 0;
                list-style: none;
            }
            #sub_nav_bars nav ul li{
                padding-left: 1rem;
                font-size: 90%;
            }

        #main_page_container {
            display: grid;
            margin-top: 2.5rem;
            justify-content: center;
        }

            #main_page_content {
                padding: 10vw;
                width: 80vw;
                height: fit-content;
                background-color: white;
            }
/*
@media screen and (max-width: 719px) {
}
@media screen and (min-width: 720px) {
}*/