/*-- style.css --*/

:root {
    --lightmode_background: whitesmoke;
    --lightmode_color: black;
    --lightmode_boxshadow: 0 0 1rem -0.1rem grey;
    --lightmode_p_background: whitesmoke;
        
    --darkmode_background: rgb(46, 46, 53) !important; 
    --darkmode_color: whitesmoke !important; 
    --darkmode_boxshadow: 0 0 1rem 0.5rem rgb(31, 31, 36) !important;
    --darkmode_p_background: rgb(41, 41, 47) !important;
   
    --current_background: var(--lightmode_background);
    --current_color: var(--lightmode_color);
    --current_boxshadow: var(--lightmode_boxshadow);
    --current_p_background: var(--lightmode_p_background);
}

*{
    scroll-margin-top: 4rem;
}
html {
    font-size: 1.1rem;
    position: relative;
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
}
    body {
        margin: 0;
        height: 100%;
        display: grid;
        grid-template-rows: auto min-content;
        background-color: var(--current_background);
        color: var(--current_color);
    }
    
        #navbar { /* navbar */
            display: flex;
            position: fixed;
            background-color: rgb(41, 41, 47);
            width: 100%;
            height: 3rem;
            user-select: none;
            border-bottom: 2px rgb(37, 37, 43) solid;
            z-index: 1;
        }

            #logo {
                padding-left: 0.2rem;
                padding-right: 0.2rem;
                height: 3rem;
            }

                .topic_button {    /* "Mathe" und "Physik" buttons */
                    padding-left: 1rem;
                    padding-right: 0.5rem;
                    background-color: transparent;
                    color: whitesmoke;
                    border: 0;
                    height: 100%;
                    cursor: pointer;
                    user-select: none;
                    font-size: 1.2rem;
                }
                .topic_button:hover{
                    background: rgb(37, 37, 43) !important;
                }

                    .dropdown { /* "Mathe" und "Physik" dropdown-menu */
                        display: none;
                        background-color: rgb(37, 37, 43);
                        border-bottom: 1px black solid;
                        color: whitesmoke;
                        position: absolute;
                        left: 0;
                        top: 0;
                        margin-top: 3rem;
                        width: 100%;
                        text-align: center;
                    }
                    .close_dropdown {
                        position: absolute; 
                        height: 100vh; 
                        width: 100vw; 
                        left: 0;
                    }
                    .dropdown ul {  /* "Mathe" und "Physik" dropdown-menu topics */
                        padding-left: 0;
                        margin-left: 0;
                        margin-top: 0;
                        padding-top: 1rem;
                        font-size: 1.3rem;
                        /*text-decoration: underline;  On hover */
                    }
                    .dropdown ul li {   /* "Mathe" und "Physik" dropdown-menu sub-topics */
                        list-style: none;
                        color: #487DE0;
                        font-size: 1.3rem;
                    }
                    .dropdown ul li a{   /* "Mathe" und "Physik" dropdown-menu sub-topics */
                        list-style: none;
                        color: #487DE0;
                        text-decoration: none;
                        cursor: pointer;
                        font-size: 1.3rem;
                    }
                    .dropdown ul li a:hover{
                        font-weight: bold;
                    }

                /* fold down dropdown-menu and change background */
                .topic:hover {background-color: rgb(37, 37, 43);}
            
        #dark_mode_button {
            margin: auto;
            margin-right: 0;
            padding-right: 1rem;
            height: 100%;
        }

    #content_container {
        max-width: 100vw;
        margin-top: 2rem;
        margin-bottom: 7rem;
    }
    #content {
        margin: auto;
        padding: 2rem;
        max-width: 60rem;
        height: 100%;
    }   
        h1 {
            margin-bottom: 0; 
            text-align: center; 
            color:whitesmoke; 
            font-size: 150%; 
            background: linear-gradient(135deg, #487DE0, #48e064);
            line-height: 3rem;
            border-radius: 0.5rem;
        }
        #homepage_h1 {
            background-size: 200%;
            animation: wiggle 7s ease-in-out infinite;
        }
        @keyframes wiggle {
            0%{background-position: 0%;}
            25%{background-position: 100%;}
            50%{background-position: 0%;}
            100%{background-position: 0%;}
        }
        h1:hover{
            background-size: 200%;
            animation: wiggle 7s ease-in-out infinite;
        }

        h2 {
            margin: auto; 
            margin-top: 0; 
            text-align: center;
            font-size: 1rem;
        }
        h3 {
            font-weight: bold;
            font-size: 130%;
            margin-bottom: 0rem;
            text-align: center;
        }
        h4 {
            font-weight: bold;
            font-size: 120%;
            margin-bottom: 0rem;
            font-style: italic;
            border-left: 0.5rem #487DE0 groove;
            padding-left: 0.5rem;
        }
        p {
            padding: 0.5rem;
            box-shadow: var(--current_boxshadow);
            border-radius: 0.5rem;
            background-color: var(--current_p_background);
            
        }

        #content ul li a {
            color: inherit;
            text-decoration: none;
            cursor: pointer;
        }
        #content ul li a:hover {
            color: #487DE0;
            font-weight: bold;
        }

    #footer {
        background-color: rgb(41, 41, 47);
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: block;
        text-align: center;
        bottom: 0;
        width: 100%;
    }
    #footer a {
        color: whitesmoke;
    }
    #footer a:hover {
        color:lightgrey;
    }

        #footer div {
            padding-top: 1rem;
            font-size: 60%;
            color: rgb(74, 74, 74);
            text-align: center;
        }

    .matrix{
        overflow-x: auto;
        white-space: nowrap;
    }


    /* Slideviewer styles */
    .element_slideviewer {
        position: relative;
        border-radius: 0.5rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        margin-bottom: 3rem;
        margin-top: 2rem;
        box-shadow: var(--current_boxshadow);
    }
    
    .element_slideviewer > * {
        display: none;
    }
    .element_slideviewer_dots { 
        position: absolute;
        width: 100%;
        text-align: center;
        color: grey;
        user-select: none;
        bottom: -2rem;
    }
    .element_slideviewer_dots a{
        display: inline-block; 
        font-size: 45px;

    }
    .element_slideviewer_dots a:hover{
        cursor: pointer;
        color: #487DE0;
    }
    .element_slideviewer_dots_active { 
        color: #487DE0;
    }
    .element_slideviewer_arrowbutton_left {
        position: absolute;
        left: -1.7rem;
        background-color: transparent; 
        color: inherit; 
        border: none; 
        font-size: 200%; 
        cursor: pointer;
        top: -0.4rem;
        user-select: none;
        height: 100%;
    }
    .element_slideviewer_arrowbutton_right {
        position: absolute;
        right: -1.7rem;
        background-color: transparent; 
        color: inherit; 
        border: none; 
        font-size: 200%; 
        cursor: pointer;
        top: -0.4rem;
        user-select: none;
        height: 100%;
    }
    .element_slideviewer_arrowbutton_left:hover, .element_slideviewer_arrowbutton_right:hover {
        color: #487DE0;
    }

    /* Slideviewer monty-prob 1 */
    .sv_mopr_1_S_1_E_1{
        color: rgb(223, 186, 117);
        text-shadow: orange 1px 1px 3px;
    }
    .sv_mopr_1_S_1_E_2_3 {
        color: rgb(225, 152, 166);
        text-shadow: red 1px 1px 3px;
    }
    .sv_mopr_1_S_2_E_2 {
        box-shadow: var(--current_boxshadow);
    }
    .sv_mopr_1_S_3_E_3 {
        color: rgb(149, 149, 149);
        text-shadow: rgb(255, 255, 255) 1px 1px 2px;

    }

    /* Exam Styles */
    .element_exam_submit{
        background-color: #2e8a4c;
        border-radius: 0.5rem;
        border-color: #309753;
        color: white;
        font-size: 1.2rem;
        padding: 0.5rem;
    }
    .element_exam_submit:hover{
        background-color: #297e45;
        cursor: pointer;
    }



/*
@media screen and (max-width: 719px) {
}
@media screen and (min-width: 720px) {
}*/